/* Card container */
.cardBox {
  background: #fff;
  border-radius: 14px;
  padding: 1.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}

/* Title */
.cardTitle {
  font-weight: 600;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #181d27;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 8px;
  width: 227px;
  height: 44px;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 4px;
}

.tabBtn {
  border: none;
  width: 71px;
  height: 36px;
  gap: 10px;
  background: transparent;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.active {
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #ffffff;
  color: #181d27;
}

/* Chart Area */
.chartArea {
  height: 365px;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.chartColumn {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.bar {
  width: 100%;
  background: #ffd4a5;
  border-radius: 6px 6px 0 0;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}

.highlightBar {
  background: #ff4f00;
}

.monthLabel {
  margin-top: 6px;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #a4a7ae;
}

/* Tooltip */
.tooltipBox {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  z-index: 10;
}

.tooltipBox p {
  margin: 0;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #717680;
}

/* Donut Chart */
.donutWrapper {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
}

.donutRing {
  fill: none;
  stroke: #eee;
}

.donutSegment {
  fill: none;
  stroke-linecap: round;
  transition: 0.4s ease;
}

.donutCenter {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerLabel {
  font-size: 0.8rem;
  color: #717680;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}

.centerValue {
  font-weight: 700;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #181d27;
  margin: 0;
}

/* Legend */
.colorDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.legendLabel {
 font-weight: 500;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #181D27;
}

.legendValue {
   font-weight: 400;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -2%;
    color: #717680;
}

/* View All */
.viewAllBtn {
  background: transparent;
  border: none;
  color: #a12b0b;
  cursor: pointer;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}

.percent{
 color: #181D27;
 font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}
