/* PAGE TEXT */
.heading {
  font-weight: 700;
  color: #241717;
  letter-spacing: 0;
  line-height: 36px;
  font-size: 36px;
  font-family: "Agdasima", sans-serif;
}

.subheading {
  font-size: 16px;
  color: #535862;
  max-width: 620px;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
}

/* CARD CONTAINER */
.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 24px;
  border: 1px solid #eaecf0;
}

/* LABELS */
.label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
  color: #171717;
  margin-bottom: 6px;
  display: block;
}

/* INPUTS */
input,
textarea,
select {
  font-size: 14px;
}

textarea {
  resize: none;
}

/* LOGO UPLOAD */
.logoPlaceholder {
  width: 96px;
  height: 96px;
  border-radius: 999px;
  background: #e9eaeb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto;
}

.cameraIcon {
  color: #717680;
}

.logoHint {
  font-size: 12px;
  color: #535862;
  margin-bottom: 12px;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 18px;
  letter-spacing: -2%;
}

/* LOGO PREVIEW */
.logoPreview {
  width: 96px;
  height: 96px;
  border-radius: 999px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #eaecf0;
}

.logoPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTONS */
.uploadBtn,
.changeBtn {
  border: 1px solid #d5d7da;
  background: #ffffff;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
  color: #414651;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
  letter-spacing: -2%;
}

select {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #414651;
  letter-spacing: -2%;
}

.uploadBtn:hover,
.changeBtn:hover {
  background: #f9fafb;
}

.deleteBtn {
  border: 1px solid #fda29b;
  background: #fff5f5;
  color: #b42318;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
  letter-spacing: -2%;
}

.deleteBtn:hover {
  background: #fee4e2;
}

/* SUBMIT BUTTON */
.submitBtn {
  text-decoration: none;
  background: #cc3602;
  color: #ffffff;
  border: none;
  padding: 12px 20px 12px 20px;
  font-size: 16px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 24px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.submitBtn:hover {
  background: #b42318;
}
