.title {
  font-weight: 700;
  color: #241717;
  letter-spacing: 0;
  line-height: 36px;
  font-size: 36px;
  font-family: "Agdasima", sans-serif;
}

.subtitle {
  font-size: 16px;
  color: #535862;
  /* max-width: 620px;
  margin: 0 auto; */
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
}

.card {
  max-width: 760px;
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #f1f1f1;
}

.card h5 {
  font-size: 20px;
  color: #181d27;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 30px;
  letter-spacing: -3%;
}
.card p {
  font-size: 14px;
  color: #535862;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
  letter-spacing: -2%;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.helperText {
  font-size: 13px;
  color: #6b7280;
}

.uploadBox {
  border: 2px dashed #ffb68a;
  border-radius: 12px;
  padding: 32px;
  text-align: center;
  background: #fff4ea;
}

.uploadText {
  font-size: 14px;
  margin-bottom: 12px;
}

.browseBtn {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  background: #ffffff;
  font-size: 13px;
}

.progressPercent {
  font-weight: 600;
  margin-bottom: 6px;
}

.progressTrack {
  height: 6px;
  background: #ffe3cd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progressFill {
  height: 100%;
  background: #d64000;
}

.uploadingText {
  font-size: 13px;
}

.uploadingText span {
  color: #6b7280;
}

.primaryBtn {
  background: #cc3602;
  color: #ffffff;
  border-radius: 24px;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
}

.primaryBtn:hover {
  background: #ff5004;
  color: #ffffff;
}

.secondaryBtn {
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 24px;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
  color: #414651;
}

.secondaryBtn:hover {
  background: #f5f4f4;
  border: 1px solid #d1d5db;
}
