.titleSmall {
  color: #cc3602;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
  font-family: "Bricolage Grotesque", sans-serif;
  letter-spacing: -2%;
}

.mainTitle {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  font-family: "Agdasima", sans-serif;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 12px;
  color: #181d27;
}

.subtitle {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -3%;
  color: #535862;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
}

.agree {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535862;
  letter-spacing: -2%;
}

.sendBtn {
  background: #cc3602;
  color: #fff;
  width: 100%;
  border-radius: 30px;
  padding: 12px 20px 12px 20px;
  font-size: 16px;
  border: none;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
}

.sendBtn:hover {
  background: #b43200;
}

.formLabel {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #414651;
  letter-spacing: -2%;
}
.link {
  text-decoration: none;
}
input::placeholder {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #414651;
  letter-spacing: -2%;
}
input,
textarea {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  letter-spacing: -2%;
}

.formSelect {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #414651;
  letter-spacing: -2%;
}

.sectionTitle {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Agdasima", sans-serif;
  line-height: 48px;
  letter-spacing: 0%;
  color: #181d27;
}

.sectionSubtitle {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -3%;
  color: #535862;
  text-align: center;
  margin: 0 auto 40px;
  text-align: center;
  margin-bottom: 40px;
}

.cardBox {
  background: #ffecd3;
  border-radius: 16px;
  padding: 24px;
  height: 100%;
}

.iconBox {
  width: 40px;
  height: 40px;
  background: #ff4f00;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.cardTitle {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
  margin-bottom: 8px;
  color: #461004;
}

.cardText {  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #A12B0B;
  margin-bottom: 12px;
}

.cardEmail {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #A12B0B;
}
