@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  /* Brand Colors */
  --primary-color: #cc3602;
  --primary-light: #e65a29;
  --primary-dark: #992902;

  /* Neutral Colors */
  --black: #000000;
  --white: #ffffff;
  --gray-100: #f5f5f5;
  --gray-200: #e0e0e0;
  --gray-300: #c7c7c7;
  --gray-400: #9e9e9e;
  --gray-500: #757575;
  --gray-600: #616161;
  --gray-700: #424242;
  --gray-800: #212121;

  /* Text Colors */
  --text-primary: #212121;
  --text-secondary: #616161;
  --text-light: #ffffff;

  /* Background Colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f7f7f7;

  /* Borders */
  --border-color: #e0e0e0;

  /* Fonts */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* Spacing */
  --radius: 6px;
  --radius-lg: 12px;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.navbar {
  border: #f5f5f5 1px solid;
  background-color: white;
  height: 80px;
  position: sticky !important;
  top: 0;
  z-index: 1030;
}

.nav-item .nav-link {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* paragraph-spacing: 16px; */
  letter-spacing: -2%;
}

.nav-link {
  color: #535862;
}
.nav-link:active {
  color: var(--primary-color);
}
.nav-link:focus {
  color: var(--primary-color);
}

.nav-link::after {
  color: var(--primary-color);
}

.loginBtn {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #535862;
  letter-spacing: -2%;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 18px 10px 18px;
}

.registerBtn {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: var(--primary-color);
  letter-spacing: -2%;
  border-radius: 40px;
  border: none;
  padding: 10px 18px 10px 18px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.registerBtn:hover {
  background-color: var(--primary-light);
  color: #ffffff; /* Change text color on hover */
}
.heroSection {
  /* height: 620px; */
  background-color: #241717;
  /* top: 104px; */
  /* left: 112px; */
  border-radius: 24px;
  padding: 60px 20px; /*just added*/
}
.heroHeading {
  font-family: "Agdasima", sans-serif;
  /* width: 449px; */
  /* height: 232px; */
  /* gap: 16px; */
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  /* paragraph-spacing: 48px; */
  letter-spacing: 0%;
  color: #ffffff;
}

.heroPara {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #f5f5f5;
  letter-spacing: -2%;
  margin-top: 10px;
}

.btn-outline-light {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 28px;
  padding: 10px 18px 10px 18px;
}
/* Buttons wrap nicely */
.heroBtnGroup {
  flex-wrap: wrap;
  margin-top: 20px;
}

.hero-image {
  width: 612px;
  top: -5px;
  left: 636px;
  margin-bottom: -60px;
}

/* --- MOBILE FIX --- */
@media (max-width: 768px) {
  .heroSection {
    padding: 40px 20px;
    text-align: center;
  }

  .heroHeading {
    font-size: 32px;
    line-height: 38px;
  }

  .heroPara {
    font-size: 14px;
    margin-top: 10px;
  }

  /* OPTION A: Show image but smaller */
  .hero-image {
    width: 80%;
    margin: 20px auto 0 auto;
    display: block;
  }

  /* OPTION B: Completely hide hero image on mobile */
  /* Uncomment this line if you want to hide it */
  /* .hero-image { display: none; } */

  .heroBtnGroup {
    justify-content: center;
  }
}

.trusted {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}

.smallbus {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.trusted-logo {
  opacity: 0.75;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}
.trusted-logo:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.07);
}
.buildToRun {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #461004;
}

.defaultHeading {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #000000;
}

.defaultPara {
  color: #414651;
  margin: 15px 0 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
  font-weight: 400;
}

.buildToRunPara {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  font-style: normal;
  color: #535862;
  letter-spacing: -2%;
}
/* section {
  scroll-margin-top: 80px;
} */

img {
  transition: 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}

.storeOnline {
  background-color: #fff6ec;
  /* height: 524px; */
}

.howItWorks {
  width: 100%;
  /* height: 364px; */
  gap: 64px;
}

.howItWorkspara {
  color: #ff4f00;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}
.stepheading {
  color: #461004;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  letter-spacing: -2%;
  text-align: justify;
}

.steppara {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: -2%;
  text-align: justify;
}
.step-badge {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  font-family: "Bricolage Grotesque", sans-serif;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

/* Cards Hover Lift Effect */
.step-card {
  transition: all 0.4s ease;
  transform: translateY(0px);
  opacity: 0;
}

.step-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
}

/* Filter Buttons */
.filter-btn {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 6px 15px;
  border-radius: 25px;
  transition: all 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-light);
}

/* Template Card */
.template-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.template-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  opacity: 0;
  transition: 0.35s ease;
}

.template-card:hover .overlay {
  opacity: 1;
}

/* Buttons */
.btn-orange {
  font-family: "Bricolage Grotesque", sans-serif;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
}

.btn-orange:hover {
  background: var(--primary-dark);
  color: #fff;
}

.preview-link {
  font-family: "Bricolage Grotesque", sans-serif;
  color: #fff;
  text-decoration: underline;
}

.featureBox {
  padding-right: 10px;
}

.featureBox .icon {
  font-size: 22px;
  color: var(--primary-color);
}

.whyBranmart img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .whyBranmart {
    text-align: center;
  }
}

.textBrown {
  font-family: "Agdasima", sans-serif;
  gap: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #461004;
}

.analytics-section {
  background-color: #461004;
  /* color: white; */
  position: relative;
}

.sectionTitle {
  font-family: "Agdasima", sans-serif;
  gap: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #ffffff;
}

/* main screenshot */
.mainDashboard {
  max-width: 1000px;
  border-radius: 12px;
  z-index: 2;
}

/* floating UI elements */
.floating-image {
  width: 260px;
  position: absolute;
  z-index: 3;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
}

.leftFloat {
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
}

.rightFloat {
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .floating-image {
    width: 180px;
  }
  .leftFloat {
    left: -70px;
  }
  .rightFloat {
    right: -70px;
  }
}

@media (max-width: 768px) {
  .floating-image {
    display: none;
  }
}

.testimonials-section {
  background: #fff;
}

/* Stats boxes */
.stats-card {
  background: #fef3e8;
  padding: 18px 24px;
  border-radius: 16px;
  min-width: 180px;
}

.stats-card h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 4px;
  color: #2b0e0b;
}

/* Testimonial cards */
.testimonial-card {
  background: white;
  padding: 28px;
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quote-mark {
  font-size: 30px;
  font-weight: 800;
  color: #461004;
  line-height: 0.8;
}

.stars {
  color: #fbbf24;
  font-size: 1rem;
  margin-top: 10px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-top: auto; /* pushes it to the bottom */
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.profile span {
  display: block;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: -2%;
  color: #717680;
}

.profile strong {
  display: block;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  color: #000000;
}
/* Navigation Buttons */
.nav-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: 0.3s;
}

.nav-btn:hover {
  background: white;
  border-color: transparent;
}

/* Background color */
.hero-section {
  background: #f9efe5; /* same beige tone as screenshot */
}

/* Outline button */
.btn-outline-custom {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 50px;

  transition: 0.2s;
}
.btn-outline-custom:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Solid button */
.btn-primary-custom {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  transition: 0.2s;
}
.btn-primary-custom:hover {
  /* background-color: #fff; */
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  opacity: 0.85;
}

/* FOOTER */
.footer {
  background: #241717;
  padding: 80px 5%;
  color: #eee;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
}

.footer-brand p {
  margin: 8px 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  font-style: normal;
  letter-spacing: -2%;
}

.row .copyright {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  font-style: normal;
  letter-spacing: -2%;
}

/* LINKS */
.footer-links {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.footer-column h4 {
  margin-bottom: 15px;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  font-style: normal;

  letter-spacing: -2%;
}

.footer-column a {
  display: block;
  margin: 6px 0;
  text-decoration: none;
  transition: 0.3s ease;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

.footer-column a:hover {
  color: #fff;
  transform: translateX(5px);
}

/* SOCIAL */
.footer-social {
  display: flex;
  gap: 20px;
}

.social-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.25);
  opacity: 0.8;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-links {
    flex-direction: column;
    gap: 30px;
  }

  .footer-social {
    justify-content: center;
  }
}

.sectionTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;

  color: #461004; /* your brown */
}

.orangeTitle {
  font-weight: 700;
  font-family: "Agdasima", sans-serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #461004; /* primary orange */
  position: relative;
}

.orangeTitle::before {
  content: "";
  width: 55px;
  height: 3px;
  background: #ff4f00;
  position: absolute;
  top: -10px;
}

.sellTitle {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: white;
}

.sellSubtitle {
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
  color: white;
}

.sellImage {
  border-radius: 20px;
}

.featureCard {
  background: transparent;
  border: 1px solid #414651;
  border-radius: 16px;
}

.featureNumber {
  /* margin-right: 10px; */
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  /* paragraph-spacing: 16px; */
  letter-spacing: -3%;
}

.featureTitle {
  display: inline-block;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
  font-weight: 500;
  color: white;
}

.featureText {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
  color: white;
}

.sectionWrapper {
  padding: 60px 0;
}

.title {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #461004;
}

.subtitle {
  color: #535862;
  margin-top: 10px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
}

.box {
  background: #fff6ec;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  gap: 24px;
}

.icon {
  font-size: 20px;
  color: #461004;
  font-weight: bold;
}
.para {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2%;
  font-weight: 500;
  color: #461004;
}

.sectionWrapperReach {
  padding: 60px 0;
}

/* Title */
.titleReach {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #461004;
}

/* Subtitle */
.subtitleReach {
  color: #414651;
  margin: 15px 0 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
}

/* List styling */
.featureListReach {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featureListReach li {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Bootstrap Icon color + spacing */
.iconReach {
  font-size: 20px;
  color: #ff4f00;
  margin-right: 10px;
}

/* Image border like screenshot */
.imageWrapperReach img {
  border-radius: 24px;
  padding: 4px;
  color: #fff0e6;
}

.sectionWrapperFav {
  padding: 80px 0;
  background-color: #241717; /* Dark background */
}

/* Title */
.titleFav {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  font-weight: 700;
  color: #ffffff;
}

/* Subtitle */
.subtitleFav {
  color: #f5f5f5;
  margin-top: 12px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
}

/* Logo container */
.logoBoxFav {
  border-radius: 10px;
  margin: 0;
  border: 1px solid white;
}

.sectionWhy {
  padding: 60px 0;
}

/* LEFT BOX */
.leftBox {
  /* border: 2px dotted #66afe9; */
  padding: 20px;
  border-radius: 4px;
}

.titleWhy {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #461004;
}

.subtitleWhy {
  color: #414651;
  margin: 15px 0 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: 400;
  margin-top: 10px;
}

/* RIGHT BOX */
.rightBox {
  /* border: 2px dotted #66afe9; */
  padding: 20px;
  border-radius: 4px;
}

.listWhy {
  margin: 0;
  padding-left: 20px;
  color: #414651;
  margin: 15px 0 30px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
  font-weight: 400;
}

.listWhy li {
  margin-bottom: 10px;
}

.testimonialSection {
  background: #241717;
}

.sectionLabel {
  color: #ff4f00;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

.reviewTitle {
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  letter-spacing: -3%;
}

.userImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.userName {
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

.userRole {
  color: #e9eaeb;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: -2%;
}

.arrowBtn {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 1px solid #6c6c6c;
  color: white;
}

.arrowBtn:hover {
  background: #ff4f00;
  border-color: #ff4f00;
  color: white;
}

.templateName {
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

.viewTemplateLink {
  color: white;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

/* ACTIVE bullet */
.custom-pagination:active {
  background: #ff4f00 !important;
}

/* INACTIVE bullets */
.custom-pagination .swiper-pagination-bullet {
  opacity: 1;
}

.shopSemibold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  letter-spacing: -3%;
}

.shopLabel {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  color: #414651;
  gap: 24px;
}
.active-page {
  background-color: #ffecd3;
  color: #ff4f00;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

.titleTextDet {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0%;
  color: #241717;
}

.descTextDet {
  max-width: 750px;
  color: #414651;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  letter-spacing: -3%;
}

.btnOrangeDet {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: var(--primary-color);
  letter-spacing: -2%;
  border-radius: 40px;
  border: none;
  padding: 10px 18px 10px 18px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.btnOrangeDet:hover {
  background-color: var(--primary-light);
  color: #ffffff; /* Change text color on hover */
}
.btnPreviewDet {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
  background-color: #ffecd3;
  letter-spacing: -2%;
  border-radius: 40px;
  border: none;
  padding: 10px 18px 10px 18px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.btnPreviewDet:hover {
  background-color: #ffecd3;
}

.breadcrumb .breadcrumb-item {
  text-decoration: none;
  color: #535862;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
}

.breadcrumb .breadcrumb-item-active {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  color: #000000;
}

.statName {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  color: #000000;
}
.statPara {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: -2%;
  color: #535862;
}

.templateFrame {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

.cropBox {
  height: 550px; /* Adjust height as you like */
  overflow: hidden; /* Hides the bottom part */
  border-radius: 16px;
}

.cropBox img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zoom + crop */
  object-position: top; /* Crop from bottom */
}

.aboutSubhead {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  letter-spacing: -2%;
  color: #000000;
}
.paraLink{
  text-decoration-color: var(--primary-light);
  color: var(--primary-light);
}
