.body {
  min-height: 100vh;
  margin-top: -49px;
  background: linear-gradient(180deg, #fff6ec 0%, #fff9f3 45%, #fdfdfd 100%);
}

.code {
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: 100%;
  font-size: 280px;
  font-family: "Agdasima", sans-serif;
}

.title {
  color: #000000;
  font-size: 80px;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 100%;
  letter-spacing: -5%;
}

.description {
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #535862;
  max-width: 571px;
  margin-bottom: 24px;
}

.homeBtn {
  background-color: #cc3602;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
  padding: 12px 20px 12px 20px;
  border-radius: 999px;
}

.homeBtn:hover {
  background: #b83400;
  color: #fff;
}
