.topLabel {
  color: #cc3602; /* Your brand orange */
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.mainHeading {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  font-family: "Agdasima", sans-serif;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 12px;
  color: #241717;
}

.subText {
  color: #535862;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
}

/* Filter pills */
.activeFilter {
  background: #ffecd3;
  color: #a12b0b;
  border: #ff4f00 1px solid;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.activeFilter:hover {
  background: #ffecd3;
  color: #a12b0b;
  border: #ff4f00 1px solid;
  opacity: 0.9;
}

.inactiveFilter {
  background: #fdfdfd;
  border: #d5d7da 1px solid;
  color: #333;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}
.inactiveFilter:hover {
  background: #f5f5f5;
  border: #d5d7da 1px solid;
  color: #333;
  opacity: 0.9;
}

/* Blog Card */
.blogCard {
  background: #fafafa;
  border-radius: 24px;
  padding: 16px;
  gap: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.blogCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}
/* Category/date/text section should NOT stretch */
.blogCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Category tag */
.categoryTag {
  background: #fff6ed;
  color: #c4320a;
  padding: 4px 12px 4px 12px;
  border-radius: 20px;
  font-weight: 500;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}
.catDate {
  color: #535862;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}
.blogTitle {
  color: #181d27;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -3%;
}

/* Read more */
.readMore {
  color: #a12b0b;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  margin-top: auto;
}

/* Load more button */
.loadMoreBtn {
  background-color: #cc3602;
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: white;
  border: #cc3602 1px solid;
  padding: 10px 24px 10px 24px;
}
.loadMoreBtn:hover {
  background-color: #cc3602;
  border: #cc3602 1px solid;
  opacity: 0.7;
  color: white;
}

.newsletterSection {
  background: #fff6ef; /* light peach background */
  border-radius: 20px;
}

.newsletterTitle {
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -3%;
  color: #181d27;
}

.newsletterSubtitle {
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #535862;
}

.emailInput {
  border-radius: 10px;
  padding: 10px 14px;
}

.subscribeBtn {
  font-weight: 600;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  background: #cc3602;
  color: #fff;
  border: 1px solid #cc3602;
  padding: 12px 20px 12px 20px;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}

.subscribeBtn:hover {
  opacity: 0.9;
}

.privacyText {
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #535862;
}

.privacyLink {
  text-decoration: underline;
  text-decoration-color: #535862;
  color: #535862;
}
