.card {
  max-width: 400px;
}

.successIcon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #e7f8ef;
  color: #16a34a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  color: #241717;
  letter-spacing: 0;
  line-height: 36px;
  font-size: 36px;
  font-family: "Agdasima", sans-serif;
}

.subtitle {
  color: #535862;
  font-size: 16px;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
}

.summaryBox {
  background: #f9fafb;
}

.label {
  color: #4b5563;
  font-size: 14px;
  font-weight: 500;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
  letter-spacing: -2%;
}

.value {
  font-size: 16px;
  font-weight: 500;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
  color: #181d27;
}

.primaryBtn {
  background-color: #cc3602;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
  border-radius: 999px;
}

.primaryBtn:hover {
  background-color: #cc3602;
  opacity: 0.7;
  color: #fff;
}

.secondaryBtn {
  border: 1px solid #e5e7eb;
  border-radius: 999px;
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  letter-spacing: -2%;
}
.secondaryBtn:hover {
  border: 1px solid #e5e7eb;
  opacity: 0.7;
}
